<manifest package="org.fs.dx"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".FDXApplication"
        android:theme="@style/AppTheme">

        <activity
            android:theme="@style/AppTheme"
            android:name=".views.MainView"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".views.NewMoleculeView"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="519b7a21e3cb612ca556f70b96a5b64b0adc79ea" />

    </application>

</manifest>
